<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{--  {{ style('style') }}  --}}
  {{--  {{ style('https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css') }}  --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    ._failed{ border-bottom: solid 4px red !important; }
    ._failed i{  color:red !important;  }

    ._success {
        box-shadow: 0 15px 25px #00000019;
        padding: 45px;
        width: 100%;
        text-align: center;
        margin: 40px auto;
        border-bottom: solid 4px #28a745;
    }

    ._success i {
        font-size: 55px;
        color: #28a745;
    }

    ._success h2 {
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 10px;
    }

    ._success p {
        margin-bottom: 0px;
        font-size: 18px;
        color: #495057;
        font-weight: 500;
    }
  </style>
</head>
<body>
  <section>
    <div class="row justify-content-center">
      <div class="col-md-5">
          <div class="message-box _success _failed">
               <i class="fa fa-times-circle" aria-hidden="true"></i>
              <h2> Your payment failed </h2>
       <p>  Try again later </p> 
   
      </div> 
  </div> 
  </section>
  {{ script('https://code.jquery.com/jquery-3.6.0.min.js') }}
  {{ script('https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js') }}
  @if(flashMessage('error'))
    <script>
        toastr.error("{{ flashMessage('error') }}", 'Error:')
    </script>
  @endif
  @if( flashMessage('success') )
  <script>
    toastr.success("{{ flashMessage('success') }}", 'Success:')
  </script>
  @endif
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
      OneSignal.init({
        appId: "6e639041-4067-4130-8d7d-19caf2296032",
      });
      OneSignal.getUserId(function(userId) {
        console.log("OneSignal User ID:", userId);
        // (Output) OneSignal User ID: 270a35cd-4dda-4b3f-b04e-41d7463a2316
      });
    });
  </script>
</body>
</html>
